<% provide(:title, "Password Reset") %>
<%= render 'layouts/error_messages' %>
<div class="row">
  <section class="content-header col-md-6 col-md-offset-3">
    <h1>Password Reset</h1>
  </section>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user, url: password_reset_path, method: :patch) do |f| %>
    <%= f.label 'New Password', id: :password %>
    <%= f.password_field :password, class: 'form-control' %>
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, class: 'form-control' %>
    <%= f.text_field :email, :value => @user.email, :type => "hidden" %>

    <%= f.submit "Submit", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
