<!--UserMailer#password_reset-->

<%= @greeting %>, <%= @user.pet_name%>:

You have requested a Password reset. To reset your password use the link below:

<%= edit_password_reset_url(@user.reset_token, email: @user.email) %>
