<!-- #comment -->
<div class="comment" id="comment_<%= post.id %>_<%= comment.id %>">
  <div class="user-name">
    <%= link_to comment.user.pet_name, user_path(comment.user) %>
  </div>
  <div class="comment-content">
    <%= comment.content %>
  </div>
  <% if current_user?(comment.user) %>
    <%= link_to post_comment_path(post, comment),
                  method: :delete,
                  data: { confirm: "Are you sure?" }, rel: "borrar comentario", remote: true do %>
      <span class="glyphicon glyphicon-remove delete-comment"></span>
    <% end %>
  <% end %>
</div>
