<li class="<%=notification.read ? 'read' : 'unread' %>">
  <!-- start notification -->
  <%= link_to open_content_path(notification), class: "description" do %>
    <i class="fa fa-users text-aqua"></i>
    <b><%= notification.notified_by.pet_name %></b>
    <%= notification_description(notification) %>
    <br><span class="time-ago">
      <%= time_ago_in_words(notification.created_at) %> ago.
    </span>
  <% end %>
</li>
