<% @count = current_user.notifications.where(read: false).count%>
<li class="dropdown notifications-menu">
  <!-- Menu toggle button -->
  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
    <i class="glyphicon glyphicon-flag fa-lg"></i>
    <span class="label label-warning"><%= @count  if @count > 0 %></span>
  </a>
  <ul class="dropdown-menu">
    <li class="header">
      Tienes <%= pluralize @count, 'notificación' %>
      <%= 'nueva'.pluralize(@count) %>
    </li>
    <li>
      <!-- Inner Menu: contains the notifications -->
      <ul class="menu">
        <%= render current_user.notifications.order('created_at DESC').last(5) %>
        <!-- end notification -->
      </ul>
    </li>
    <li class="footer">
      <%= link_to 'Ver todas', notifications_path %>
    </li>
  </ul>
</li>
