<span id="friendship-area pull-right">
  <% if user == current_user %>
    <%= link_to 'Update profile',
        edit_user_path(user),
        class: 'btn btn-primary update-btn' %>
  <% else %>
    <% if current_user.is_friend? user%>
      <%= link_to 'Unfriend',
        unfriend_path(user),
        remote: true,
        class: 'btn btn-danger',
        id: 'unfriend-button',
        method: :post
      %>
    <% else %>
      <%if current_user.requested? user%>
        <%= link_to 'Cancel request',
          unfriend_path(user),
          remote: true,
          class: 'btn btn-warning',
          id: 'cancel-req-btn',
          method: :post
        %>
      <% else %>
        <% if user.requested? current_user %>
          <%= link_to "Accept request", accept_friend_path(user.id),
            remote: true,
            class: 'btn btn-primary',
            id: 'accept-friend-butn',
            method: :post %>
          <%= link_to "Decline request", reject_friend_path(user.id),
            remote: true,
            class: 'btn btn-danger',
            id: 'reject-friend-btn',
            method: :post %>
        <% else %>
      <%#= binding.pry %>
          <%= link_to 'Add friend',
            request_friend_path(user.id),
            remote: true,
            class: 'btn btn-primary',
            id: 'friend-button',
            method: :post
          %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</span>
