<figure class="card">
  <%= link_to user, class: 'card-link' do %>
  <%= image_tag user.pet_image.url(:medium), alt: "Pet Image" %>
  <figcaption>
    <%= image_tag user.human_image.url(:small),class: "profile",
    alt: "Human Image" %>
    <h3><%= user.pet_name%>
      <%= "| " + user.human_name if user.human_name%>
    </h3>
    <span class="pet-stats">
      <%=user.breed%>
      <%= "| " + (time_ago_in_words user.birthdate) if user.birthdate%>
      <%= "| " + (user.gender) if user.gender%>
    </span>
    <p><%= user.bio %></p>
    <%= content_tag 'div', id: "btn-area-#{user.id}" do%>
      <%= render 'users/friend_button', user: user%>
    <% end %>
  </figcaption>
  <% end %>
</figure>
