<!-- #TODO:50 Use paperclip to resize images  -->
<!-- #TODO:70 check cropping strategy on paperclib github page  -->

<% provide(:title, "Edit User") %>
<div class="posts-wrapper">
  <div class="post">
    <div class="post-body">
      <div class="image-wrap">
        <div class="row">
          <div class="col-md-12">
            <div class="form-group text-center">
              <h4>Update my details:</h4>
              <div class="pet-image-container center-block">
                <%= image_tag @user.pet_image.url(:banner), class: 'pet-image in-form' %>
                <%= image_tag @user.human_image.url(:small), class: 'img-circle profile-image pull-left in-form' %>
              </div>
            </div>
            <%= simple_form_for(@user, method: :patch,
              html: { multipart: true, class: 'simple-form' }) do |f| %>
              <div class="form-wrapper form-group">
                <%= f.input :pet_image, onChange: 'loadFile(event)' %>
                <%= f.input :human_image, onChange: 'loadFile(event)' %>
                <%= f.input :pet_name, required: true, autofocus: true, input_html: { class: 'input-lg form-control' } %>
                <%= f.input :human_name, required: true, autofocus: true, input_html: { class: 'input-lg form-control' } %>
                <%= f.input :email, required: true, autofocus: true, input_html: { class: 'input-lg form-control' } %>
                <%= f.input :breed, selected: 'crossbreed/Mix', collection: dog_breeds %>
                <%= f.input :birthdate, as: :date, start_year: Date.today.year - 50,
                               end_year: Date.today.year,
                               order: [:day, :month, :year] %>
                <%= f.input :gender, as: :radio_buttons, :collection => [ "Male", "Female" ]%>
                <%= f.input :bio, placeholder: 'Something short about me' %>
                <%= f.input :password, required: true, input_html: { class: 'input-lg form-control' } %>
                <%= f.input :password_confirmation, required: true, input_html: { class: 'input-lg form-control' } %>
                <div class="form-group.text-center">
                  <%= f.submit "Actualizar perfil", class: 'btn btn-primary' %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
