<!-- TODO: Fix the password validation (it's validatin on backend only) -->

<% provide(:title, 'Sign up') %>
<div class="registration-bg">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <div class="log-in panel">
        <div class="panel-heading text-center">
          <h2>Sign Up!</h2>
        </div>
        <%= simple_form_for(@user,
          as: @user,
          url: users_path(@user),
          html: { class: 'simple-form' }) do |f| %>
          <%= f.error_notification %>
          <div class="panel-body">
            <%= render partial: 'layouts/user_basic_info', locals: {f: f} %>
            <%= f.button :submit, "Sign up", class: 'btn-lg btn-info btn-block' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
