<li class="dropdown messages-menu">
  <!-- Menu toggle button -->
  <%= link_to ffinder_path do%>
    <i class="glyphicon glyphicon-user fa-lg" aria-hidden="true"></i>
  <% end %>
</li>
<!-- /.friends_finder-menu -->
