<li>
  <%= image_tag user.pet_image.url(:thumb) %>
  <%= link_to user.pet_name, user %>
  <% if current_user.admin? && !current_user?(user) %>
    | <%= link_to 'delete', user, method: :delete,
      data: { confirm: "ESTAS SEGURO?? " }
    %>
  <% end %>
</li>
