<!-- TODO: display "view all" on notifications  -->
<div class="posts-wrapper">
  <div class="post">
    <!-- head of the post -->
    <div class="post-head">
      <div class="post-head-content">
        <%= link_to image_tag(post.user.pet_image.url(:thumb), class: "profile-pic"), post.user %>
        <% if current_user?(post.user) %>
          <%= link_to post_path(post),
                  method: :delete,
                  data: { confirm: "Are you sure?" }, remote: true do %>
            <span class="glyphicon glyphicon-remove delete-post"></span>
          <% end %>
        <% end %>
        <div class="post-header-text">
          <%= link_to post.user.pet_name, user_path(post.user), class: "user-name" %>
          <p class="time-ago"> Posted
            <%= time_ago_in_words(post.created_at) %> ago.
          </p>
        </div>
      </div>
    </div>
<!-- body of the post -->
    <div class="image center-block">
      <%= content_tag('p', post.content, class: 'caption') if post.content%>
      <%= content_tag('p', post.title, class: 'caption') if post.title%>
    </div>
    <div class="image center-block">
      <%= link_to image_tag(post.image.url(:medium), class:'img-responsive'), post_path(post) if post.image.exists?%>
      <%#= link_to video_tag(post.video.url(:medium)), post_path(post) if post.video.exists? %>
    </div>
    <!-- footer of the post -->
    <div class="post-bottom">
      <div class="comment-like-form row">
        <div class="like-button col-md-6">
          <%= render 'posts/like_button', post: post %>
          <%= link_to ' Comentar', post_comment_form_path(post.id),
            id: "comment_#{post.id}", class: "fa fa-comment btn btn-default", remote: true %>
        </div>
        <div class="pull-right col-md-6" id="likes_<%= post.id %>">
          <%= render partial: 'posts/likes_comments', locals: {post: post} %>
        </div>
      </div>
       <!-- Comments section -->
      <div class="comments" id="comments_<%= post.id %>">
        <% if post.comments.any? %>
          <div class="paginator" id="#comments-paginator-<%= post.id %>">
            <% unless post.comments.count <= 3 %>
              <%= link_to "Ver todos los comentarios", post_comments_path(post), remote: true, class: 'more-comments', data: {post_id: "#{post.id}", type: "html"} %>
            <% end %>
          </div>
          <%= render post.comments.last(3), post: post %>
        <% end %>
      </div>
    <!-- comment form  -->
    <div class="comment-like-form row hidden" id="comment-form-<%= post.id %>">
      <div class="comment-form col-sm-11">
        <%= form_for([post, post.comments.build], remote: true) do |f| %>
        <div class="flex-container">
          <%= f.text_area :content, placeholder: 'Haz un comentario...', size: "20x1", class: "comment_content", id: "comment_content_#{post.id}" %>
          <%= f.submit "Publicar", class: "btn btn-primary", id: "post-comment" %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
