
<% if current_user.voted_for? @post %>
  $("#like_<%= @post.id %>").removeClass('btn-default').addClass('btn-primary');
<% else %>
  $("#like_<%= @post.id %>").removeClass('btn-primary').addClass('btn-default');
<% end %>

$("#likes_<%= @post.id %>").html("<%= j (render partial: 'posts/likes_comments', locals: { post: @post} ) %>");
