@import "bootstrap-sprockets";
@import "bootstrap";
@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
/* mixins, variables, etc. */
$gray-medium-light: #eaeaea;
@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* universal */
body {
  height: 100%;
  background-color: #e8e8e8;
  font-family: 'Roboto','Droid Sans',arial,sans-serif;
  font-size: 15px;
  font-weight: normal;
  padding-top: 50px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  overflow-x: hidden;
  overflow-y: auto;
}
.layout-boxed body,
.layout-boxed html {
  height: 100%;
}
.title {
  margin: 0 0 5px;
  font-weight: 300;
  box-sizing: border-box;
  font-family: inherit;
  line-height: 1.1;
  color: inherit;
  text-align: center;
}
.container {
  margin: auto;
}
.wrapper {
  min-height: 100%;
  position: relative;
  overflow: hidden;
}
.wrapper:after,
.wrapper:before {
  content: " ";
  display: table;
}
.wrapper:after {
  clear: both;
}
.flash-container {
  position: fixed;
  left: 50%;
  width: 500px;
  text-align: center;
  margin-left: -150px;
  top: 55px;
  z-index: 10;
}
.row {
  width: auto;
}
.flash {
  position: absolute;
}
.close {
  margin-left: 20px;
}
.background {
  height: calc(100vh - 50px);
  background: image-url('dog_background3.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  z-index: -1;
}
.bg-layer {
  background-color: rgba(#aba6a6, 0.13);
  height: 100%;
  width: 100%;
  position: absolute;
}
.first-qt {
  top: 300px;
}
.last-qt {
  top: 450px;
}
.quotes {
  position: absolute;
  left: 50px;
  color: white;
  border-color: #5a5a5a;
  border-bottom-color: #3c3c3c;
  background-color: rgba(#5b5b5b, 0.72);
  color: #fff;
  border-radius: 12px;
  padding: 0 10px;
  display: none;
}
.layout-boxed .wrapper {
  max-width: 1250px;
  margin: 0 auto;
  min-height: 100%;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
  position: relative;
}
.layout-boxed {
  background: image-url('boxed-bg.jpg') repeat fixed;
}
.edit-links {
  margin-top: 20px;
  margin-bottom: 40px;
}
/* Login and Signup pages*/
.login-menu {
  float: right;
  padding-right: 25px;
  padding-top: 4px;
  .btn {
    margin-left: 10px;
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.26;
    border-radius: 3px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .btn-lg {
    font-size: 15px;
    padding: 10px 16px;
    line-height: 1.3333333;
    border-radius: 4px;
  }
  .btn-primary {
    color: #fff;
    background-color: rgba(#ff8799, 1);
    border-color: rgba(#ff8799, 1);
  }
  .btn-primary:hover {
    color: #fff;
    border-color: rgba(232, 9, 50, 0.95);
  }
  .btn-default-outline {
    color: #fff;
    background: none;
    border-color: #fff;
  }
}
.login-bg {
  background: image-url('dog_stretch.jpeg');
  z-index: -1;
}
.registration-bg {
  background: image-url('dog_background2.jpg');
  z-index: -1;
}
.login-bg,
.registration-bg {
  padding-top: 4em;
  height: calc(100vh - 50px);
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.log-in {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border: none;
  padding-bottom: 10px;
}
.panel {
  border-radius: 8px;
}
.panel-heading {
  h1 {
    text-align: center;
  }
}
.checkbox label {
  //padding-left: 40px;
}
.fixed {
  position: fixed;
}
.fixed .main-header {
  top: 0;
  right: 0;
  left: 0;
}
.fixed .content-wrapper,
.fixed .right-side {
  padding-top: 50px;
}
.fixed.layout-boxed .wrapper {
  max-width: 100%;
}
.content {
  min-height: 250px;
  padding: 15px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
/* typography */
a {
  color: #3c8dbc;
}
a:active,
a:focus,
a:hover {
  outline: none;
  text-decoration: none;
  color: #72afd2;
}
.dark {
  color: #1d2129;
}
/* header */
#logo {
  width: 180px;
  max-height: 50px;
  background-color: #rgba(255, 252, 253, 0.32);
  &:hover {
    color: white;
    text-decoration: none;
    background-color: #rgba(214, 210, 214, 0.71);
  }
}
.page-header {
  margin: 10px 0 20px;
  font-size: 22px;
}
.page-header > small {
  color: #666;
  display: block;
  margin-top: 5px;
}
.main-header {
  max-height: 100px;
  z-index: 1030;
}
.main-header > .navbar {
  -webkit-transition: margin-left 0.3s ease-in-out;
  -o-transition: margin-left 0.3s ease-in-out;
  transition: margin-left 0.3s ease-in-out;
  margin-bottom: 0;
  margin-left: 210px;
  border: none;
  height: 50px;
  border-radius: 0;
}
.layout-top-nav .main-header > .navbar {
  margin-left: 0;
}
.main-header #navbar-search-input.form-control {
  background: rgba(255, 255, 255, 0.2);
  border-color: transparent;
}
.main-header #navbar-search-input.form-control:active,
.main-header #navbar-search-input.form-control:focus {
  border-color: rgba(0, 0, 0, 0.1);
  background: rgba(255, 255, 255, 0.9);
}
.main-header #navbar-search-input.form-control::-moz-placeholder {
  color: #ccc;
  opacity: 1;
}
.main-header #navbar-search-input.form-control:-ms-input-placeholder {
  color: #ccc;
}
.main-header #navbar-search-input.form-control::-webkit-input-placeholder {
  color: #ccc;
}
.main-header .navbar-search-form {
  float: left;
  max-width: 250px;
  margin-top: 7px;
  margin-left: 10px;
}
.main-header .navbar-custom-menu,
.main-header .navbar-right {
  float: right;
}
.main-header .sidebar-toggle:hover {
  color: #fff;
}
.main-header .sidebar-toggle:active,
.main-header .sidebar-toggle:focus {
  background: transparent;
}
.main-header .sidebar-toggle .icon-bar {
  display: none;
}
.main-header .navbar .nav > li.user > a > .fa,
.main-header .navbar .nav > li.user > a > .glyphicon,
.main-header .navbar .nav > li.user > a > .ion {
  margin-right: 5px;
}
.main-header .navbar .nav > li > a > .label {
  position: absolute;
  top: 9px;
  right: 7px;
  text-align: center;
  font-size: 9px;
  padding: 2px 3px;
  line-height: 0.9;
}
.main-header .logo {
  -webkit-transition: width 0.3s ease-in-out;
  -o-transition: width 0.3s ease-in-out;
  transition: width 0.3s ease-in-out;
  display: block;
  float: left;
  padding: 0 15px;
  overflow: hidden;
}
#round-logo {
  border-radius: 15%;
}
.main-header .logo .logo-md {
  display: block;
}
.main-header .logo .logo-mini {
  display: none;
}
.navbar-search-form input:focus {
  border-color: transparent;
}
.fit {
  height: 24px;
  width: 20px;
}
.main-header .navbar-brand {
  color: #fff;
}
.content-header {
  position: relative;
  padding: 15px 15px 0;
}
.content-header > h1 {
  margin: 0;
  font-size: 24px;
}
.content-header > h1 > small {
  font-size: 15px;
  display: inline-block;
  padding-left: 4px;
  font-weight: 300;
}
.content-header > .breadcrumb {
  float: right;
  background: transparent;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 12px;
  padding: 7px 5px;
  position: absolute;
  top: 15px;
  right: 10px;
  border-radius: 2px;
}
.content-header > .breadcrumb > li > a {
  color: #444;
  text-decoration: none;
  display: inline-block;
}
.content-header > .breadcrumb > li > a > .fa,
.content-header > .breadcrumb > li > a > .glyphicon,
.content-header > .breadcrumb > li > a > .ion {
  margin-right: 5px;
}
.content-header > .breadcrumb > li+li:before {
  content: '>\00a0';
}
.navbar-toggle {
  color: #fff;
  border: 0;
  margin: 0;
  padding: 15px;
}
.navbar {
  background-color: #d23f31;
}
.navbar .nav > li > a {
  color: #ffffff;
  font-weight: normal;
}
.session-buttons > li > a {
  border: 2px solid rgba(255, 255, 255, 1);
  border-radius: 6px;
  color: rgba(255, 255, 255, 1);
  margin-right: 10px;
  margin-top: 5px;
  height: inherit;
  padding: 10px 15px 7px;
}
.navbar .nav .open > a,
.navbar .nav .open > a:focus,
.navbar .nav .open > a:hover,
.navbar .nav > .active > a,
.navbar .nav > li > a:active,
.navbar .nav > li > a:focus,
.navbar .nav > li > a:hover {
  background: rgba(0, 0, 0, 0.1);
  color: #f6f6f6;
}
.navbar .sidebar-toggle {
  color: #ffffff;
}
.navbar .sidebar-toggle:hover {
  color: #f6f6f6;
  background: rgba(0, 0, 0, 0.1);
}
.navbar .sidebar-toggle {
  color: #fff;
}
.navbar .sidebar-toggle:hover {
  background-color: #d73925;
}
li.user-header {
  background-color: #dd4b39;
}
.skin-red .content-header {
  background: transparent;
}
.dropdown-menu {
  box-shadow: none;
  border-color: #eee;
}
.dropdown-menu > li > a {
  color: #777;
}
.dropdown-menu > li > a > .fa,
.dropdown-menu > li > a > .glyphicon,
.dropdown-menu > li > a > .ion {
  margin-right: 10px;
}
.dropdown-menu > li > a:hover {
  background-color: #e1e3e9;
  color: #333;
}
.dropdown-menu > .divider {
  background-color: #eee;
}
.navbar-nav > .messages-menu > .dropdown-menu,
.navbar-nav > .notifications-menu > .dropdown-menu,
.navbar-nav > .tasks-menu > .dropdown-menu {
  width: 380px;
  padding: 0;
  margin: 0;
  top: 100%;
}
.navbar-nav > .messages-menu > .dropdown-menu > li,
.navbar-nav > .notifications-menu > .dropdown-menu > li,
.navbar-nav > .tasks-menu > .dropdown-menu > li {
  position: relative;
}
.navbar-nav > .messages-menu > .dropdown-menu > li.header,
.navbar-nav > .notifications-menu > .dropdown-menu > li.header,
.navbar-nav > .tasks-menu > .dropdown-menu > li.header {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background-color: #ffffff;
  padding: 7px 10px;
  border-bottom: 1px solid #f4f4f4;
  color: #444444;
  font-size: 14px;
}
.navbar-nav > .messages-menu > .dropdown-menu > li.footer > a,
.navbar-nav > .notifications-menu > .dropdown-menu > li.footer > a,
.navbar-nav > .tasks-menu > .dropdown-menu > li.footer > a {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  font-size: 12px;
  background-color: #fff;
  padding: 7px 10px;
  border-bottom: 1px solid #eeeeee;
  color: #444 !important;
  text-align: center;
}
.navbar-nav > .messages-menu > .dropdown-menu > li.footer > a:hover,
.navbar-nav > .notifications-menu > .dropdown-menu > li.footer > a:hover,
.navbar-nav > .tasks-menu > .dropdown-menu > li.footer > a:hover {
  text-decoration: none;
  font-weight: normal;
}
.navbar-nav > .messages-menu > .dropdown-menu > li .menu,
.navbar-nav > .notifications-menu > .dropdown-menu > li .menu,
.navbar-nav > .tasks-menu > .dropdown-menu > li .menu {
  max-height: 200px;
  margin: 0;
  padding: 0;
  list-style: none;
  overflow-x: hidden;
}
.navbar-nav > .messages-menu > .dropdown-menu > li .menu > li > a,
.navbar-nav > .notifications-menu > .dropdown-menu > li .menu > li > a,
.navbar-nav > .tasks-menu > .dropdown-menu > li .menu > li > a {
  display: block;
  white-space: nowrap;
  border-bottom: 1px solid #f4f4f4;
}
.navbar-nav > .messages-menu > .dropdown-menu > li .menu > li > a:hover,
.navbar-nav > .notifications-menu > .dropdown-menu > li .menu > li > a:hover,
.navbar-nav > .tasks-menu > .dropdown-menu > li .menu > li > a:hover {
  background: #f4f4f4;
  text-decoration: none;
}
.navbar-nav > .notifications-menu > .dropdown-menu > li .menu > li > a {
  color: #444444;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 10px;
}
.navbar-nav > .notifications-menu > .dropdown-menu > li .menu > li > a > .fa,
.navbar-nav > .notifications-menu > .dropdown-menu > li .menu > li > a > .glyphicon,
.navbar-nav > .notifications-menu > .dropdown-menu > li .menu > li > a > .ion {
  width: 20px;
}
.navbar-nav > .messages-menu > .dropdown-menu > li .menu > li > a {
  margin: 0;
  padding: 10px;
}
.navbar-nav > .messages-menu > .dropdown-menu > li .menu > li > a > div > img {
  margin: auto 10px auto auto;
  width: 40px;
  height: 40px;
}
.navbar-nav > .messages-menu > .dropdown-menu > li .menu > li > a > h4 {
  padding: 0;
  margin: 0 0 0 45px;
  color: #444444;
  font-size: 15px;
  position: relative;
}
.navbar-nav > .messages-menu > .dropdown-menu > li .menu > li > a > h4 > small {
  color: #999999;
  font-size: 10px;
  position: absolute;
  top: 0;
  right: 0;
}
.navbar-nav > .messages-menu > .dropdown-menu > li .menu > li > a > p {
  margin: 0 0 0 45px;
  font-size: 12px;
  color: #888888;
}
.navbar-nav > .messages-menu > .dropdown-menu > li .menu > li > a:after,
.navbar-nav > .messages-menu > .dropdown-menu > li .menu > li > a:before {
  content: " ";
  display: table;
}
.navbar-nav > .messages-menu > .dropdown-menu > li .menu > li > a:after {
  clear: both;
}
.navbar-nav > .tasks-menu > .dropdown-menu > li .menu > li > a {
  padding: 10px;
}
.navbar-nav > .tasks-menu > .dropdown-menu > li .menu > li > a > h3 {
  font-size: 14px;
  padding: 0;
  margin: 0 0 10px;
  color: #666666;
}
.navbar-nav > .tasks-menu > .dropdown-menu > li .menu > li > a > .progress {
  padding: 0;
  margin: 0;
}
.navbar-nav > .user-menu {
  border-left-color: white;
  border-left-style: solid;
  border-left-width: 1px;
}
.navbar-nav > .user-menu > .dropdown-menu {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  padding: 1px 0 0;
  border-top-width: 0;
  width: 280px;
}
.navbar-nav > .user-menu > .dropdown-menu,
.navbar-nav > .user-menu > .dropdown-menu > .user-body {
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}
.navbar-nav > .user-menu > .dropdown-menu > li.user-header {
  height: 175px;
  padding: 10px;
  text-align: center;
}
.navbar-nav > .user-menu > .dropdown-menu > li.user-header > img {
  z-index: 5;
  height: 90px;
  width: 90px;
  border: 3px solid;
  border-color: transparent;
  border-color: rgba(255, 255, 255, 0.2);
}
.navbar-nav > .user-menu > .dropdown-menu > li.user-header > p {
  z-index: 5;
  color: #fff;
  color: rgba(255, 255, 255, 0.8);
  font-size: 17px;
  margin-top: 10px;
}
.navbar-nav > .user-menu > .dropdown-menu > li.user-header > p > small {
  display: block;
  font-size: 12px;
}
.navbar-nav > .user-menu > .dropdown-menu > .user-body {
  padding: 15px;
  border-bottom: 1px solid #f4f4f4;
  border-top: 1px solid #dddddd;
}
.navbar-nav > .user-menu > .dropdown-menu > .user-body:after,
.navbar-nav > .user-menu > .dropdown-menu > .user-body:before {
  content: " ";
  display: table;
}
.navbar-nav > .user-menu > .dropdown-menu > .user-body:after {
  clear: both;
}
.navbar-nav > .user-menu > .dropdown-menu > .user-body a {
  color: #444 !important;
}
.navbar-nav > .user-menu > .dropdown-menu > .user-footer {
  background-color: #f9f9f9;
  padding: 10px;
}
.navbar-nav > .user-menu > .dropdown-menu > .user-footer:after,
.navbar-nav > .user-menu > .dropdown-menu > .user-footer:before {
  content: " ";
  display: table;
}
.navbar-nav > .user-menu > .dropdown-menu > .user-footer:after {
  clear: both;
}
.navbar-nav > .user-menu > .dropdown-menu > .user-footer .btn-default {
  color: #666666;
}
.navbar-nav > .user-menu .user-image {
  float: left;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin-right: 10px;
  margin-top: -8px;
}
.navbar-custom-menu > .navbar-nav > li {
  position: relative;
}
.navbar-custom-menu > .navbar-nav > li > .dropdown-menu {
  position: absolute;
  right: 0;
  left: auto;
}
/* sidebar */
.left-side,
.main-sidebar {
  position: absolute;
  top: 0;
  left: 20px;
  padding-top: 10px;
  min-height: 100%;
  width: 300px;
  z-index: 810;
  -webkit-transition: -webkit-transform 0.3s ease-in-out, width 0.3s ease-in-out;
  -moz-transition: -moz-transform 0.3s ease-in-out, width 0.3s ease-in-out;
  -o-transition: -o-transform 0.3s ease-in-out, width 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, width 0.3s ease-in-out;
}
.stats-container {
  padding: 10px 0;
  display: block;
}
.stats {
  table-layout: fixed;
  box-sizing: border-box;
  display: table;
  margin: 0;
  min-width: 100%;
  padding: 0;
  table-layout: auto;
  list-style: none;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  .stats-label {
    color: black;
  }
  .stats-value {
    display: block;
    font-size: 18px;
    font-weight: 500;
    padding-top: 3px;
    transition: color 0.15s ease-in-out;
    color: #2a6496;
  }
}
.stats > li {
  vertical-align: bottom;
  display: table-cell;
  box-sizing: border-box;
  transition: all 0.15s ease-in-out;
  text-align: inherit;
}
.stats-links {
  text-decoration: none !important;
  display: block !important;
  background: transparent;
  text-align: center;
  border: none !important;
}
.sidebar {
  padding-bottom: 10px;
}
.sidebar-form input:focus {
  border-color: transparent;
}
.user-panel {
  position: relative;
  width: 100%;
  padding: 10px;
  overflow: hidden;
}
.user-panel:after,
.user-panel:before {
  content: " ";
  display: table;
}
.user-panel:after {
  clear: both;
}
.user-panel > .image > img {
  width: 100%;
  max-width: 45px;
  height: auto;
}
.user-panel > .info {
  padding: 5px 5px 5px 15px;
  line-height: 1;
  position: absolute;
  left: 55px;
}
.user-panel > .info > p {
  font-weight: 600;
  margin-bottom: 9px;
}
.user-panel > .info > a {
  text-decoration: none;
  padding-right: 5px;
  margin-top: 3px;
  font-size: 11px;
}
.user-panel > .info > a > .fa,
.user-panel > .info > a > .glyphicon,
.user-panel > .info > a > .ion {
  margin-right: 3px;
}
.sidebar-menu {
  list-style: none;
  margin: 0;
  padding: 0;
}
.sidebar-menu > li {
  position: relative;
  margin: 0;
  padding: 0;
}
.sidebar-menu > li > a {
  padding: 12px 5px 12px 15px;
  display: block;
}
.sidebar-menu > li > a > .fa,
.sidebar-menu > li > a > .glyphicon,
.sidebar-menu > li > a > .ion {
  width: 20px;
}
.sidebar-menu > li .badge,
.sidebar-menu > li .label {
  margin-top: 3px;
  margin-right: 5px;
}
.sidebar-menu li.header {
  padding: 10px 25px 10px 15px;
  font-size: 12px;
}
.sidebar-menu li > a > .fa-angle-left {
  width: auto;
  height: auto;
  padding: 0;
  margin-right: 10px;
  margin-top: 3px;
}
.sidebar-menu li.active > a > .fa-angle-left {
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
.sidebar-menu li.active > .treeview-menu {
  display: block;
}
.sidebar-menu .treeview-menu {
  display: none;
  list-style: none;
  padding: 0;
  margin: 0;
  padding-left: 5px;
}
.sidebar-menu .treeview-menu .treeview-menu {
  padding-left: 20px;
}
.sidebar-menu .treeview-menu > li {
  margin: 0;
}
.sidebar-menu .treeview-menu > li > a {
  padding: 5px 5px 5px 15px;
  display: block;
  font-size: 14px;
}
.sidebar-menu .treeview-menu > li > a > .fa,
.sidebar-menu .treeview-menu > li > a > .glyphicon,
.sidebar-menu .treeview-menu > li > a > .ion {
  width: 20px;
}
.sidebar-menu .treeview-menu > li > a > .fa-angle-down,
.sidebar-menu .treeview-menu > li > a > .fa-angle-left {
  width: auto;
}
.sidebar-mini.sidebar-collapse .main-sidebar {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
  width: 50px !important;
  z-index: 850;
}
.sidebar-mini.sidebar-collapse .sidebar-menu > li {
  position: relative;
}
.sidebar-mini.sidebar-collapse .sidebar-menu > li > a {
  margin-right: 0;
}
.sidebar-mini.sidebar-collapse .sidebar-menu > li > a > span {
  border-top-right-radius: 4px;
}
.sidebar-mini.sidebar-collapse .sidebar-menu > li:not(.treeview) > a > span {
  border-bottom-right-radius: 4px;
}
.sidebar-mini.sidebar-collapse .sidebar-menu > li > .treeview-menu {
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom-right-radius: 4px;
}
.sidebar-mini.sidebar-collapse .sidebar-menu > li:hover > .treeview-menu,
.sidebar-mini.sidebar-collapse .sidebar-menu > li:hover > a > span:not(.pull-right) {
  display: block !important;
  position: absolute;
  width: 180px;
  left: 50px;
}
.sidebar-mini.sidebar-collapse .sidebar-menu > li:hover > a > span {
  top: 0;
  margin-left: -3px;
  padding: 12px 5px 12px 20px;
  background-color: inherit;
}
.sidebar-mini.sidebar-collapse .sidebar-menu > li:hover > .treeview-menu {
  top: 44px;
  margin-left: 0;
}
.sidebar-mini.sidebar-collapse .main-sidebar .user-panel > .info,
.sidebar-mini.sidebar-collapse .sidebar-form,
.sidebar-mini.sidebar-collapse .sidebar-menu > li > .treeview-menu,
.sidebar-mini.sidebar-collapse .sidebar-menu > li > a > .pull-right,
.sidebar-mini.sidebar-collapse .sidebar-menu > li > a > span,
.sidebar-mini.sidebar-collapse .sidebar-menu li.header {
  display: none !important;
  -webkit-transform: translateZ(0);
}
.sidebar-mini.sidebar-collapse .main-header .logo > .logo-mini {
  display: block;
  margin-left: -15px;
  margin-right: -15px;
}
.sidebar-mini.sidebar-collapse .main-header .logo > .logo-md {
  display: none;
}
.sidebar-mini.sidebar-collapse .main-header .navbar {
  margin-left: 50px;
}
.main-sidebar .user-panel,
.sidebar-menu,
.sidebar-menu > li.header {
  white-space: nowrap;
  overflow: hidden;
}
.sidebar-menu:hover {
  overflow: visible;
}
.sidebar-form,
.sidebar-menu > li.header {
  overflow: hidden;
  text-overflow: clip;
}
.sidebar-menu li > a {
  position: relative;
}
.sidebar-menu li > a > .pull-right {
  position: absolute;
  right: 10px;
  top: 50%;
  margin-top: -7px;
}
aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}
span.picture {
  margin-top: 10px;
  input {
    border: 0;
  }
}
.banner-container {
  right: 0;
  position: absolute;
  padding-top: 10px;
  z-index: 1010;
  height: 600px;
  width: 230px;
  display: block;
}
.right-banner {
  background: image-url('bannervertical.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  position: relative;
  height: 100%;
  width: inherit;
}
.post-text {
  border: none;
  margin-bottom: 0;
}
.main-action-btn, .sec-action-btn {
  color: #2980b9;
  padding: 5px;
  border: 1px solid #2980b9;
  text-transform: uppercase;
  display: inline-block;
  opacity: 0.65;
  text-align: center;
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 1px;
  background-color: transparent;
}

.sec-action-btn{
  color: #3d3c3d;
  border: 1px solid #3d3c3d;
}

.sized-btn {
  max-width: 70px;
  max-height: 50px;
}
/* footer */
.main-footer {
  background: #fff;
  padding: 15px;
  color: #444;
  border-top: 1px solid #d2d6de;
}
/* miscellaneous */
.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}
/* forms */
.uneditable-input,
input,
select,
textarea {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}
input {
  height: auto !important;
}
#error_explanation {
  ul {
    list-style: none;
    list-style-type: none;
    padding: 0;
    li {
      text-align: justify;
    }
  }
}
.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}
.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}
#session_remember_me {
  width: auto;
  margin-left: 0;
}
/* Users index */
.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
  img {
    size: 30px;
  }
}
