@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,600);
.card {
    font-family: 'Roboto', Arial, sans-serif;
    position: relative;
    float: left;
    overflow: hidden;
    margin: 10px 1%;
    min-width: 230px;
    max-width: 315px;
    width: 100%;
    text-align: left;
    line-height: 1.4em;
    background-color: #fafafa;
    border-color: #e1e8ed;
    border-style: solid;
    border-radius: 4px;
    border-width: 1px 1px 1px 2px;
    -webkit-box-shadow: 0 10px 6px -6px #777;
    -moz-box-shadow: 0 10px 6px -6px #777;
    box-shadow: 0 10px 6px -6px #777;
}
.card * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
}
.card-link {
  color: black;
}
.card img {
    max-width: 100%;
    vertical-align: top;
    opacity: 1;
}
.card figcaption {
    width: 100%;
    background-color: #fafafa;
    padding: 15px 25px;
    position: relative;
    text-align: center;
}

.link {
    padding: 5px;
    border: 1px solid #3d3c3d;
    color: #3d3c3d;
    font-size: 0.7em;
    text-transform: uppercase;
    margin: 10px 0;
    display: inline-block;
    opacity: 0.65;
    width: 47%;
    text-align: center;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
}
.link a:hover {
    opacity: 1;
}
.card .profile {
    border-radius: 50%;
    position: absolute;
    bottom: 100%;
    left: 5px;
    z-index: 1;
    max-width: 90px;
    opacity: 1;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

.card .main-action {
    margin-right: 4%;
    border-color: #2980b9;
    color: #2980b9;
}
.card h3 {
    margin: 0 0 5px;
    font-weight: 300;
}
.pet-stats {
    display: block;
    /*font-size: 0.5em;*/
    color: #2980b9;
}
.card p {
    margin: 0 0 10px;
    font-size: 0.8em;
    letter-spacing: 1px;
    opacity: 0.8;
}

/* Carousel Slider */

.carousel-inner.onebyone-carosel {
    margin: auto;
    width: 90%;
}
.onebyone-carosel .active.left {
    left: -33.33%;
}
.onebyone-carosel .active.right {
    left: 33.33%;
}
.onebyone-carosel .next {
    left: 33.33%;
}
.onebyone-carosel .prev {
    left: -33.33%;
}
.item:not(.prev) {
    visibility: visible;
}
.item.right:not(.prev) {
    visibility: hidden;
}
.rightest {
    visibility: visible;
}
.carousel-control.left, .carousel-control.right {
    background: none !important;
    filter: none !important;
    outline: 0;
}
.carousel .carousel-control {
    visibility: hidden;
}
.carousel:hover .carousel-control {
    visibility: visible;
}
