/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

.description {
  margin: 0px;
  padding: 0px;
}

.unread {
    background-color: #dae8f5;
}

.notification-index-list {
  margin-top: 5em;
  list-style: none;
}
.read, .unread {
  border-bottom: 1px solid lightgrey;
  padding: 0.5em;
  color: black;
}

.time-ago{
  margin-left: 30px;
}
