.sidebar {
  padding-bottom: 10px;
  border: 1px solid #e1e8ed;
  background: #fff;
  border-radius: 6px;
  -webkit-box-shadow: 0 10px 6px -6px #777;
  -moz-box-shadow: 0 10px 6px -6px #777;
  box-shadow: 0 10px 6px -6px #777;
}
.user-panel {
  position: relative;
  width: 100%;
  padding: 10px;
  overflow: hidden
}
.user-panel:before, .user-panel:after {
  content: " ";
  display: table
}
.user-panel:after {
  clear: both
}
.user-panel>.image>img {
  width: 100%;
  max-width: 45px;
  height: auto
}
.user-panel>.info {
  padding: 5px 5px 5px 15px;
  line-height: 1;
  position: absolute;
  left: 55px
}
.user-panel>.info>p {
  font-weight: 600;
  margin-bottom: 9px
}
.user-panel>.info>a {
  text-decoration: none;
  padding-right: 5px;
  margin-top: 3px;
  font-size: 11px
}
.user-panel>.info>a>.fa, .user-panel>.info>a>.ion, .user-panel>.info>a>.glyphicon {
  margin-right: 3px
}
.sidebar-menu {
  list-style: none;
  margin: 0;
  padding: 0
}
.sidebar-menu>li {
  position: relative;
  margin: 0;
  padding: 0
}
.sidebar-menu>li>a {
  padding: 12px 5px 12px 15px;
  display: block
}
.sidebar-menu>li>a>.fa, .sidebar-menu>li>a>.glyphicon, .sidebar-menu>li>a>.ion {
  width: 20px
}
.sidebar-menu>li .label, .sidebar-menu>li .badge {
  margin-top: 3px;
  margin-right: 5px
}
.sidebar-menu li.header {
  padding: 10px 25px 10px 15px;
  font-size: 12px
}
.sidebar-menu li>a>.fa-angle-left {
  width: auto;
  height: auto;
  padding: 0;
  margin-right: 10px;
  margin-top: 3px
}
.sidebar-menu li.active>a>.fa-angle-left {
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg)
}
.sidebar-menu li.active>.treeview-menu {
  display: block
}
.sidebar-menu .treeview-menu {
  display: none;
  list-style: none;
  padding: 0;
  margin: 0;
  padding-left: 5px
}
.sidebar-menu .treeview-menu .treeview-menu {
  padding-left: 20px
}
.sidebar-menu .treeview-menu>li {
  margin: 0
}
.sidebar-menu .treeview-menu>li>a {
  padding: 5px 5px 5px 15px;
  display: block;
  font-size: 14px
}
.sidebar-menu .treeview-menu>li>a>.fa, .sidebar-menu .treeview-menu>li>a>.glyphicon, .sidebar-menu .treeview-menu>li>a>.ion {
  width: 20px
}
.sidebar-menu .treeview-menu>li>a>.fa-angle-left, .sidebar-menu .treeview-menu>li>a>.fa-angle-down {
  width: auto
}

.sidebar-menu, .main-sidebar .user-panel, .sidebar-menu>li.header {
  white-space: nowrap;
  overflow: hidden
}
.sidebar-menu:hover {
  overflow: visible
}
.sidebar-form, .sidebar-menu>li.header {
  overflow: hidden;
  text-overflow: clip
}
.sidebar-menu li>a {
  position: relative
}
.sidebar-menu li>a>.pull-right {
  position: absolute;
  right: 10px;
  top: 50%;
  margin-top: -7px
}
