// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#user_avatar {
  margin: 20px auto;
}

.white-background{
  background-color: white;
  max-width: 650px;
  margin-top: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.profile-header {
  padding: 20px 0;
}

.profile-image {
  height: 100px;
  width: 100px;
  top: -120px;
  position: relative
}

.pet-image {
  position: relative;
}

.pet-image-container {
  max-width: 600px;
  top: 10px;
}

.human-image {
  position: relative;
  top: 150px;
}
.user-name-and-follow {
  display: inline;
}

.profile-user-name {
  display: inline;
}

.edit-button {
  margin-left: 0px;
}

.profile-bio {
  margin-top: 20px;
}

.user-statistics {
    margin-top: 25px;
    font-weight: bold;
}

#image-preview {
  margin: 0 auto;
}

.profile-header {
  padding: 20px 0;
}

.user-name-and-follow {
  display: inline;
}

.profile-user-name {
  display: inline;
}

.edit-button {
  border-color: #818488;
  color: #ffffff;
  margin-left: 20px;
}

.profile-bio {
  margin-top: 20px;
}

#user_bio {
  border: 1px solid gray;
}

#user_avatar {
  padding: 1em;
  margin: 0px auto;
}

.friendship-area {
  position: relative;
}
.friend-button {
  text-transform: uppercase;
  border-color: #4090db;
  color: #4090db;
  margin-left: 20px;
  &:visited, &:focus, &:hover {
    border-color: #2D6396;
    color: #2D6396;
  }
}

.unfriend-button {
  text-transform: uppercase;
  border-color: #66bd2b;
  background-color: #66bd2b;
  color: white;
  margin-left: 20px;
  &:visited, &:focus, &:hover {
    border-color: #47821F;
    background-color: #47821F;
    color: white;
  }
}

.in-form {
  left: -75px;
}

.update-btn {
  max-width: 120px;
  margin-bottom: 15px;
  text-align: center;
}
