<li class="dropdown tasks-menu">
  <!-- Menu Toggle Button -->
  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
    <i class="glyphicon glyphicon-comment fa-lg"></i>
    <!-- <span class="label label-primary">9</span> -->
  </a>
  <ul class="dropdown-menu">
    <li class="header text-center">Chat is coming soon. Stay tuned</li>
  </ul>
</li>
