<% flash.each do |message_type, message| %>
<div class="flash-container">
  <div class="flash alert alert-<%= message_type %>">
    <%= message %>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
</div>
<% end %>
