<!-- no logged options Right Menu -->
<nav class="navbar navbar-static-top" role="navigation">
  <div class="login-menu">
    <%= link_to 'Login', login_path, class: "btn btn-primary btn-lg" %>
    <%= link_to 'Signup', signup_path, class: "btn btn-default-outline btn-lg" %>
  </div>
</nav>
