<%= f.input :pet_name, required: true, autofocus: true, label: false, placeholder: 'My name is...', input_html: { class: 'input-lg form-control' } %>
<%= f.input :email, required: true, autofocus: true, label: false, placeholder: 'My email address is...', input_html: { class: 'input-lg form-control' } %>
<%= f.input :password, required: true, label: false, placeholder: 'My password', input_html: { class: 'input-lg form-control' } %>
<%= f.input :password_confirmation, required: true, label: false, placeholder: 'Confirm my password', input_html: { class: 'input-lg form-control' } %>
