<aside class="main-sidebar">
  <!-- sidebar: style can be found in sidebar.less -->
  <figure class="card">
    <%= image_tag @current_user.pet_image.url(:medium), alt: "Pet Image" %>
    <figcaption>
      <%= image_tag @current_user.human_image.url(:small),class: "profile", alt: "Human Image" %>
      <h3><%= @current_user.pet_name%>
        <%= "| " + @current_user.human_name if @current_user.human_name%>
      </h3>
      <span class="pet-stats">
        <%=@current_user.breed%>
        <%= "- " + (time_ago_in_words @current_user.birthdate) if @current_user.birthdate%>
      </span>
      <p><%= @current_user.bio %></p>
      <div class="flex-container stats-container">
        <ul class="stats">
          <li>
            <%= link_to @current_user, class: "info stats-links" do%>
            <span class="stats-label">Posts</span>
            <span class="stats-value"><%= @current_user.posts.count%></span>
            <% end %>
          </li>
          <li>
            <%= link_to friends_path, class: "info stats-links" do%>
            <span class="stats-label">Friends</span>
            <span class="stats-value"><%=@current_user.friends.count%></span>
            <% end %>
          </li>
        </ul>
      </div>
    </figcaption>
  </figure>
  <!-- /.sidebar -->
</aside>
