<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= stylesheet_link_tag 'application', media: 'all',
                            'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>
  </head>
  <body>
    <%= render'layouts/header'%>
    <%= render 'layouts/flash_message'%>
    <div class="<%= " content-wrapper" if true %>">
      <%= yield %>
    </div>
    <!-- <%= debug(params) if Rails.env.development? %> -->
  </body>
</html>
